<mat-card class="duplicateTable" *ngIf="nestedData.rowData.length >= 1">
  <p-table [value]="nestedData.rowData">
    <ng-template pTemplate="header">
        <tr>
           <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
           </th>
            <th *ngFor="let col of nestedData.columnDefs">
              {{col.name}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dupData>
        <tr>
            <td>
              <p-tableCheckbox [value]="dupData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of nestedData.columnDefs" style="text-align: center;">
               {{dupData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
</mat-card>
<div class="notduplicate" *ngIf="nestedData.rowData.length === 0">
   <span style="color: crimson;">No Duplicate Data Found</span>
</div>
