<div class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row style="height: 64px;">
      <span>
        <img style="padding-top: 5px !important;" src="assets/images/u-logo.png" alt="">
      </span>
      <span style="padding-left: 5px;color: white;">Compliance Utility</span>
      <span class="example-spacer"></span>
      <span class="nav-end">
        <img class="nav-end-el" src="assets/images/minimize.png" alt="">
        <img class="nav-end-el" src="assets/images/maximize.png" alt="">
        <img class="nav-end-el" src="assets/images/close.png" alt="" (click)="closeApp()" id="close-btn">
       
      </span>
      <!-- <img src="assets/images/insight-logo.png" alt=""> -->
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="row" class="nav" style="padding: 10px;">
    <div class="chooser"> 
      <input type="file" id="file" style="display: none" #uploader (change) = "AisfileImport($event)" />
      <a href="javascript:void(0)" (click)="uploader.click()" class="navOption"> Open </a>
    </div>
    <div class="chooser">
      <a href="javascript:void(0)" class="navOption">Save</a>
    </div>
    <div class="chooser">
      <a href="javascript:void(0)" (click)="exportFeedback()" class="navOption">Export</a>
    </div>
  </div><hr>
</div>