.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 90px;
    padding: 0px !important;
 }

 .navOption {
    padding: 5px;
    text-decoration: none;
    font-size: initial;
    font-weight: 700;
    color: #1a4ad4;
 }
 /* .mat-toolbar {
  background: #40a3ec !important;
 } */
 .nav-end {
   padding: 5px;
 }
 .nav-end-el {
    padding: 8px;
    cursor: pointer;
 }
 #close-btn:hover {
    background-color: rgb(143, 0, 0)
 }