footer {
    width: 100%;
    position: relative;
    clear: both;
    background-color: #fff;
    border-top: 1px solid #b0b0b0;
    height: auto;
    margin-top: 20px;
    padding: 15px 0 15px 0;
    z-index: 1;
    float: left;
    text-align: center;
    left: 0;
    bottom: 0;
}