<!-- <h2 mat-dialog-title >{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
    <ul class="popup-list">
       <li *ngFor="let desc of data.descriptionList">
        {{desc.text}}
       </li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>{{data.buttonText}}</button>
</mat-dialog-actions> -->

<h2>
    <div fxFlex="100" fxLayout="row">
        <div fxFlex="50" fxLayoutAlign="start center">
            <div fxLayout="row">
                <img src="assets/images/register.png" /> 
                <span>Feedback</span>
            </div>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center">
            <div fxLayout="row">
                <a mat-dialog-close href="javascript:void(0)" style="color: black;">
                    <span class="material-icons">
                        close
                    </span>
                </a>
            </div>
        </div>
    </div>
    </h2><hr>
<mat-dialog-content class="mat-typography">
    <div class="main-section">
<section>
    <div fxFlex="100" fxLayout="row">
        <div fxFlex="25">
            <div fxLayout="column">
                <span>Information Code</span>
                <span class="spanColor">TDS-192</span>
            </div>
        </div>
        <div fxFlex="35">
            <div fxLayout="column">
                <span>Information Description</span>
                <span class="spanColor">Salary Recieved From TDS</span>
            </div>
        </div>
        <div fxFlex="25">
            <div fxLayout="column">
                <span>Information Source</span>
                <span class="spanColor">AAACU2414K</span>
            </div>
        </div>
        <div fxFlex>
            <div fxLayout="column">
                <span>TSN ID</span>
                <span class="spanColor">TSN0001</span>
            </div>
        </div>
    </div>
</section><br><br>
<section>
    <div fxFlex="100" fxFlex="100">
        <div fxFlex="25">
            <div fxLayout="column">
                <span>Date Of Payment/Credit</span>
                <span class="spanColor">18-May-2020</span>
            </div>
        </div>
        <div fxFlex="35">
            <div fxLayout="column">
                <span>Amount Paid/Credit</span>
                <span class="spanColor">10,100.00</span>
            </div>
        </div>
        <div fxFlex="25">
            <div fxLayout="column">
                <span>TDS Deducted</span>
                <span class="spanColor">1000</span>
            </div>
        </div>
        <div fxFlex>
            <div fxLayout="column">
                <span>TDS Deposited</span>
                <span class="spanColor">1000</span>
            </div>
        </div>
    </div>
</section>
</div><br><br>
<section class="feedbackOption">
    <div fxFlex="100" fxLayout="column">
        <div *ngFor="let item of data.feedback let i= index"  fxLayout="column" style="padding: 5px;">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.opt_desc}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="expand">
                      <!-- [metaDataField]="data.metaDataInfoField" -->
                      <div class="example-container" *ngIf="item.opt_code === 'B'" >
                        <app-feedback-b 
                          [metaInfo]="data.metaDataInfoField" [selectedDataList]="data.checkedInfoList" ></app-feedback-b>
                      </div>
                      <div class="example-container" *ngIf="item.opt_code === 'C'" >
                        <app-dynamic-form 
                          [formData]="data.feedback[i].edit_properties"></app-dynamic-form>
                      </div>
                      <div class="example-container" *ngIf="item.opt_code === 'D'" >
                        <app-feedback-d [l1header]="data.l1headerList" [activeTrans]="data.activeTransList" [selectedDataList] = "data.checkedInfoList"></app-feedback-d> 
                      </div>
                  </div>
                  </mat-expansion-panel>
              </mat-accordion>
        </div>
    </div>
</section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>