<!-- <h2 mat-dialog-title >{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
    <ul class="popup-list">
       <li *ngFor="let desc of data.descriptionList">
        {{desc.text}}
       </li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>{{data.buttonText}}</button>
</mat-dialog-actions> -->

<h2>
    <div fxFlex="100" fxLayout="row">
        <div fxFlex="50" fxLayoutAlign="start center">
            <div fxLayout="row">
                <img src="assets/images/register.png" /> 
                <span>Feedback</span>
            </div>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center">
            <div fxLayout="row">
                <a mat-dialog-close href="javascript:void(0)" style="color: black;">
                    <span class="material-icons">
                        close
                    </span>
                </a>
            </div>
        </div>
    </div>
    </h2><hr>
<mat-dialog-content class="mat-typography">
<mat-card class="main-section">
<section>
    <div fxFlex="100">
        <div fxFlex="100" *ngFor="let pm of data.parentMappingKeys">
            <div fxLayout="row" *ngFor="let pcd of data.parentColumnDefs">
              <div fxLayout="column"  *ngIf = "pcd.field === pm.keyId">
                     <span>{{pcd.name}}</span>
                    <span class="spanColor">{{pm.keyValue}}</span>
                </div> 
            </div>
            <!-- <span>{{pm.keyId}}</span>
            <span class="spanColor">TDS-192</span> -->
        </div>
    </div>
</section><br><br>
<section>
    <div fxFlex="100" >
        <div fxLayout="row" fxFlex="100" *ngFor="let chld of data.childColumnDef  let i=index" >
            <div fxLayout="column" *ngFor="let sld of data.selectedDataList">
                <span>{{chld.name}}</span>
                <span class="spanColor">{{ sld[chld.field] }}</span>
            </div>
        </div>
    </div>
</section>
</mat-card><br><br>
<section class="feedbackOption">
    <div fxFlex="100" fxLayout="column">
        <div fxLayout="column" style="padding: 5px;">
            <mat-accordion class="fix-radio-position" hideToggle="true">
                <mat-expansion-panel *ngFor="let item of data.feedback let i= index" #pannel1>
                  <mat-expansion-panel-header style="align-items: center">
                    <mat-panel-description>
                        <mat-radio-button [value]="item.opt_code" [checked]="pannel1.expanded" name="fdb" id="panel-{{i}}">
                            {{item.opt_desc}}
                        </mat-radio-button>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="expand">
                      <div class="example-container" *ngIf="item.opt_code === 'B'" >
                        <app-feedback-b 
                          [metaInfo]="data.sourceMetaData" [selectedDataList]="data.selectedDataList" [selectedParentMetaInfo]="data.parentMappingKeys" [type]="data.type" ></app-feedback-b>
                      </div>
                      <div class="example-container" *ngIf="item.opt_code === 'C'" >
                        <app-dynamic-form 
                          [formData]="data.feedback[i].edit_properties"></app-dynamic-form>
                      </div>
                      <div class="example-container" *ngIf="item.opt_code === 'D'" >
                        <app-feedback-d [nestedData]="data.nestedInformation" [selectedDataList] = "data.checkedInfoList"></app-feedback-d> 
                      </div>
                  </div>
                  </mat-expansion-panel>
              </mat-accordion>
        </div>
    </div>
</section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>