.container-new-bg {
    padding-bottom: 30px;
}
.row-management {
    margin-top: 30px;
}
.serviceBox {
    background: #FFF;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    height: 180px;
    box-shadow: 3px 4px 4px 2px #e8e8e8;
    border: 1px solid #ccc;
}
.notification {
    margin-top: 93px;
    float: right;
    margin-right: -54px;
    height: 30px;
    background-color: #ed2729;
    font-size: 18px;
    width: 30px;
    border-radius: 22px;
    padding: 0px;
    line-height: 30px;
}
.serviceBox .service-icon {
    color: #fff;
    font-size: 50px;
    width: 80px;
    height: 80px;
    line-height: 73px;
    margin: 20px auto 13px;
    display: block;
    position: relative;
    border-radius: 50px;
    /* border: 2px solid #e6e6e6; */
    /* background: #409edc; */
}


/*   Material Styles */


mat-grid-tile {
   border: 1px solid #ccc;
   color: #0b9ad2;
   cursor: pointer;
  }

  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: 34px;
    width: 100%;
    padding: 0;
  }