.h4Text {
    margin-left: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.overview {
    border-bottom: 1px solid rgb(230, 228, 228);
}

  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: 34px;
    width: 100%;
    padding: 0;
  }