.btn-no {
    background-color: #ccc;
    color: rgb(243, 179, 3);
    font-size: 14px;
    padding: 3px 3px;
}
.btn-yes {
    background-color: #ccc;
    color: rgb(223, 23, 23);
    font-size: 14px;
    padding: 3px 3px;
}
.text-msg {
    font-size: 14px;
}
.textMsg {
    color: #595959;
    font-size: medium;
    font-weight: 200;
}
.circleIcon {
    border: 2px solid #4ade4e;
    border-radius: 100%;
    width: fit-content;
}
.matIcon {
    width: 54px !important;
    height: 54px !important;
    color: #4ade4e;
    font-size: xxx-large;
    padding-left: 3px;
}