mat-card {
  background-color: #fff;
  border-radius: 0 !important;
}
.tableDiv {
 border: 0.5px solid #e6e6e6;
}
.mat-card:not([class*=mat-elevation-z]) {
 box-shadow: 0 1px 2px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.outerDiv {
 padding: 20px;
}
.partBDiv {
 border: 1px solid #e0e0e0;
}
.card-header {
 border: 1px solid #dedbdb;
  /* padding: 15px; */
  padding-left: 16px;
  background: #ececec;
}
.h4Class {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}