// CSS Reset, comment out if not required or using a different module
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

html, body {
    height: 100%;
    margin: 0;
    font-family: "Helvetica Neue,Helvetica,Arial,sans-serif";
    font-size: 14px;
  }
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1;
    overflow: auto;
   /*  padding-top: 30px; */
    /* padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px; */
  }
  mat-raised-button {
    color: #76baeb;
  }
 p {
      font-family: serif;
      font-size: 16px;
  }
  .bold-text {
    font-weight: bold;
  }
