<div class="aiscontainer">
  <table id="entydtls" style="width: 60%;">
    <thead>
      <tr>
        <th class="text-left" style="width: 25%;">Permanent Account Number (PAN)</th>
        <td class="text-left" style="width: 15%;">{{entityDtls.entity_id}}</td>
        <th class="text-left" style="width: 15%;">Financial Year</th>
        <td class="text-left" style="width: 15%;">{{basicDetails.fin_yr}}</td>
        <th class="text-left" style="width: 15%;">Assessment Year</th>
        <td class="text-left" style="width: 15%;">{{basicDetails.assmnt_yr}}</td>
      </tr>
   </thead>
  </table><br>
  <table id="entydtls" style="width: 100%;">
    <thead>
      <tr>
        <th class="text-left" colspan="2">Taxpayer Particulars</th>
        <th>Source</th> 
        <th>Date</th>
        <th>Remarks</th>
        <th style="width: 3%;"></th>
      </tr>
   </thead>
    <tbody>
        <tr *ngFor="let ep of entityParticulars" >
          <td class="text-left" style="font-weight: bold;">{{ep.particular_type}}</td>
          <td class="text-left">{{ep.value}}</td>
          <td class="text-left">{{ep.source}}</td>
          <td>{{ep.date}}</td>
          <td>N.A.</td>
          <td>
            <a href="javascript:void(0)">
              <span style="color: rgb(0, 96, 240);" class="material-icons">keyboard_arrow_right</span>
            </a>
          </td>
        </tr>
    </tbody>
</table><br><br>

<!-- (selectedTabChange)="changeTab($event);" -->
<mat-tab-group>
  <mat-tab *ngFor="let l2List of groupByInfoCode | keyvalue " label="{{l2List.value[0].partDesc}}"  >
    <table id="entydtls" style="width: 100%;">
      <thead>
        <tr>
          <th>Info Code</th>
          <th>Info Description</th>
          <th>Total Amount (Rs.)</th>
        </tr> 
     </thead>
      <tbody>
          <tr *ngFor="let l2Item of l2List.value">
            <td>{{l2Item.infoCode}}</td>
            <td>{{l2Item.infoDesc}}</td>
            <td>
              <a href="javascript:void(0)" (click)="getL2InfoList(l2Item.infoCode)" >{{l2Item.amountSum}} </a>
            </td>
          </tr>
      </tbody>
    </table>
  </mat-tab>
</mat-tab-group>
<!-- <mat-tab-group>
  <mat-tab *ngFor="let l2List of groupByInfoCode | keyvalue " label="{{l2List.value[0].partDesc}}"  >
    <mat-table #table [dataSource]="l2List.value">
      <ng-container matColumnDef="infoCode" >
        <mat-header-cell *matHeaderCellDef> Info Code </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.infoCode}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="infoDesc"  >
        <mat-header-cell *matHeaderCellDef> Info Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.infoDesc}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="amountSum" >
        <mat-header-cell *matHeaderCellDef> Total Amount (Rs.) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amountSum}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="l2List.value.length" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-tab>
</mat-tab-group> -->




  <!-- <mat-accordion *ngFor="let l2List of groupByInfoCode | keyvalue " >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          PART {{l2List.key}} - {{l2List.value[0].infoCodeName}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table id="entydtls" style="width: 100%;">
        <thead>
          <tr>

            <th>Info Code</th>
            <th>Info Description</th> 
            <th>Count</th>
            <th>Total Amount (Rs.)</th>
            <th>Amount Description</th>
            <th style="width: 3%;"></th>
          </tr>
       </thead>
        <tbody>
            <tr *ngFor="let l2Item of l2List.value">
              <td>{{l2Item.infoCode}}</td>
              <td>{{l2Item.infoDesc}}</td>
              <td><a href="javascript:void(0)" (click)="transDetails(l2Item.sumryId,l2Item.infoCode)" >{{l2Item.count}}</a></td>
              <td>{{l2Item.value}}</td>
              <td>{{l2Item.valueDesc}}</td>
              <td>
                <a href="javascript:void(0)">
                  <span style="color: rgb(0, 96, 240);" class="material-icons">keyboard_arrow_right</span>
                </a>
              </td>
            </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion> -->

</div>

<!-- <div class="infodetails" *ngIf="isInfoDetails" >
<h4>Information Details</h4>
<table style="width: 100%;">
   <thead>
      <tr>
        <th>Sr No.</th>
        <th *ngFor="let hdr of trsnInfoHeader" >
          {{hdr.label}}
        </th>
        <th style="width: 3%;"></th>
      </tr>
   </thead>
   <tbody>
        <tr  *ngFor="let item of actvList let i=index" >
          <td>{{i+1}}</td>
          <td *ngFor="let h of trsnInfoHeader" >
            {{item[h.label_id]}}
          </td>
          <td>
            <a href="javascript:void(0)" (click)="getAisOption()" >
              <span style="color: rgb(0, 96, 240);" class="material-icons">keyboard_arrow_right</span>
            </a>
          </td>
        </tr>
   </tbody>
</table>
</div> -->

<!-- <div *ngIf="isOption" style="width: 40%;">
   
  <mat-card *ngFor="let optns of optionList" style="margin-top: 10px;">
    <a href="javascript:void(0)"(click)="getDynamicFormArray()" style="text-decoration: none; color: black;">
      <span style="font-weight: bold;">{{optns.opt_code}}</span> - {{optns.opt_desc}}
    </a>
   </mat-card>
</div> -->




<!--  >>>>>>>>>>>>>>>>>>>>>> Form Test <<<<<<<<<<<<<<<<<<<<<<<<<<< -->
<!-- <br><br><br>
<h2 align="center">Dynamic Form Test</h2><br><br>
<form [formGroup]="formTestField" 
      autocomplete="off" novalidate (ngSubmit)="createOwner()" fxLayout="column wrap" fxLayoutGap="10px">
  <mat-card-content *ngFor="let f of formArrayTest">
    <div [ngSwitch]="f.inputType">
      <mat-form-field *ngSwitchCase="'text'">
        <input matInput *ngSwitchCase="'text'" formControlName="{{f.key}}" placeholder="{{f.label}}" name="{{f.key}}" type="{{f.inputType}}" required />
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'select'">
        <mat-label>{{f.label}}</mat-label>
        <mat-select *ngSwitchCase="'select'" formControlName="{{f.key}}">
          <mat-option *ngFor="let e of f.enum" value="{{e}}">{{e}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content> 
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!formTestField.valid">Create</button>
  </mat-card-actions>
</form>-->





<!--  >>>>>>>>>>>>>>>>>>>>>> Form Test Close <<<<<<<<<<<<<<<<<<<<<<<<<<< -->

<!-- <div class="form-group" *ngFor="let f of formArrayTest" >
  <div [ngSwitch]="f.inputType">
    <div *ngSwitchCase="'text'">
      <label>{{f.label}}</label>
      <input *ngSwitchCase="'text'" name="{{f.key}}" type="{{f.inputType}}" > 
    </div>
    <div *ngSwitchCase="'select'">
      <label>{{f.label}}</label>
        <select *ngSwitchCase="'select'" name="{{f.key}}">
            <option *ngFor="let e of f.enum" value="{{e}}">{{e}}</option>
        </select> 
    </div>
    <div *ngSwitchCase="'textArea'">
      <label>{{f.label}}</label>
        <input *ngSwitchCase="'textArea'" name="{{f.key}}" type="{{f.inputType}}" > 
    </div>
  </div>
    
</div> -->












<!-- <div fxFlex="100" *ngIf="isOption" >
  <div fxFlex="85">
      <div fxLayout="row" class="case-detail-wrapper" *ngFor="let optns of optionList">
        <mat-card fxFlex="90" fxLayout="column"  style="margin-bottom: 10px;background: #f3f3f3;">
          <span>{{optns.opt_desc}}</span>
        </mat-card>
        <div fxFlex="10" fxLayout="column" fxLayoutAlign="center">
          <mat-icon style="-webkit-text-fill-color:#348eca;font-size: 28px;">info</mat-icon>
        </div>
      </div>
      
  </div>

</div> -->

<!-- <h4>L3 Information</h4>
<div class="l3InfomationContainer">

  <div *ngFor="let l3InfoItem of l3InfoList" >
      <mat-card fxFlex="50" style="margin-bottom: 15px;">
        <div fxLayout="row" >
          <a fxFlex="75" fxLayoutAlign="start center" class="cashdeposit-icons">
          <p>({{l3InfoItem.info_code}})</p>
          <p style="margin-left: 3px;">{{l3InfoItem.info_desc}}</p></a>
          <a fxFlex="25" fxLayoutAlign="end center" class="amonut-heading">{{l3InfoItem.amountSum}}
          <a class="arrow" href="javascript:void(0)">
            <span style="color: white;" class="material-icons">keyboard_arrow_right</span>
          </a></a>
        </div>
      </mat-card>
  </div> -->

<!-- </div> -->



<!--  Version Depricated of AIS Display -->


<!-- <div class="container-table">
  <h4>Basic Details: {{aisForm}}</h4>
  <table id="entydtls" style="width: 40%;">
      <tbody>
          <tr>
            <th class="text-th">Pan</th>
            <td class="text-left">{{entityDtls.entity_id}}</td>
          </tr>
          <tr>
            <th class="text-th">Financial Year</th>
            <td class="text-left">{{basicDetails.fin_yr}}</td>
          </tr>
          <tr>
            <th class="text-th">Assessment Year</th>
            <td class="text-left">{{basicDetails.assmnt_yr}}</td>
          </tr>
      </tbody>
  </table>
  <h4>Taxpare Details</h4>
  <table id="taxpayerDtls" style="width: 40%;">
      <tbody>
          <tr>
            <th class="text-th">Name</th>
            <td class="text-left">{{entityDtls.entity_name}}</td>
          </tr>
          <tr>
            <th class="text-th">Address</th>
            <td class="text-left">{{entityDtls.entity_address.free_address}}</td>
          </tr>
          <tr>
            <th class="text-th">Mobile Number</th>
            <td class="text-left">{{entityDtls.mobile}}</td>
          </tr>
          <tr>
            <th class="text-th">Email</th>
            <td class="text-left">{{entityDtls.email}}</td>
          </tr>
      </tbody>
  </table><br>
  <h4>Information Details</h4>
  <table style="width:100%">
      <thead>
         <tr>
           <th>Info Code</th>
           <th>Filer Id</th>
           <th>Count</th>
           <th>Amount Description</th>
           <th>Amount (Rs.)</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let flrList of filerList" >
          <td>{{flrList.infoCode}}</td>
          <td>{{flrList.filer_name}} ({{flrList.filer_id}})</td>
          <td><a href="javascript:void(0)" (click)="transDetails(flrList.filer_smry_id,flrList.infoCode)">{{flrList.count_of_trans}}</a></td>
          <td>{{flrList.infoDesc}}</td>
          <td>{{flrList.amount}}</td>
         </tr>
      </tbody>
  </table><br><br>
  <h4>Transaction Details</h4>
  <table style="width: 100%;">
     <thead>
        <tr>
          <th *ngFor="let hdr of trsnInfoHeader" >
            {{hdr.label}}
          </th>
        </tr>
     </thead>
     <tbody>
          <tr  *ngFor="let item of actvList let i=index" >
            <td *ngFor="let h of trsnInfoHeader" >
              {{item[h.label_id]}}
            </td>
          </tr>
     </tbody>
  </table>
  <h4>Early Transaction Details</h4>
  <table style="width: 100%;">
     <thead>
        <tr>
          <th *ngFor="let hdr of trsnInfoHeader" >
            {{hdr.label}}
          </th>
        </tr>
     </thead>
     <tbody>
          <tr  *ngFor="let item of inactvList let i=index" >
            <td *ngFor="let h of trsnInfoHeader" >
              {{item[h.label_id]}}
            </td>
          </tr>
     </tbody>
  </table>

</div> -->