/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  } */

  table, th, td {
    border: 1px solid #bdbdbd;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: center;

  }
  .text-left {
     text-align: left;
  }
  .text-th {
     width: 160px;
     text-align: left;
  }

  .arrow {
    float: right;
    background-color: #348eca;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 5px;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  /* padding: 5px !important; */
  border-radius: 4px;
  background: #e8e8e8;
}

mat-form-field{
    width: 400px;
}
mat-card-title{
    text-align: center;
}